<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Projekt_Pum.Projekt_Pum" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="Projekt_Pum" android:icon="@drawable/Icon"></application>
</manifest>